<%- include('includes/head.ejs') %>
    <%- include('includes/header-navigator.ejs') %>

        <div class="maincontent-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form method="POST" action="/admin/add">
                            <h2>Add Product</h2>
                            <label for="title">title</label><br>
                            <input type="text" id="title" name="title" value=""><br>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('includes/footer.ejs') %>