<%- include('includes/head.ejs') %>
    <%- include('includes/header-navigator.ejs') %>

        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>Our Products</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">

                    <% if (products.length) { for(let product of products){ %>

                        <div class="col-md-3 col-sm-6">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <img src="img/product-2.jpg" alt="">
                                </div>
                                <h2><a href="single-product/1"><%= product.title %></a></h2>
                                <div class="product-carousel-price">
                                    <ins>$899.00</ins> <del>$999.00</del>
                                </div>

                                <div class="product-option-shop">
                                    <a class="add_to_cart_button" data-quantity="1" data-product_sku=""
                                        data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to
                                        cart</a>
                                </div>
                            </div>
                        </div>

                        <% }} else { %>
                            <div>No Products</div>
                            <% } %>

                </div>
            </div>
        </div>

        <%- include('includes/footer.ejs') %>